.dropdownlanguage {
  position: relative;
  /* חובה כדי שהתפריט ייפתח ביחס לכפתור */
  display: inline-block;
}

/* התפריט עצמו */
#languageMenu {
  visibility: hidden;
  position: absolute;
  top: 120%;
  background-color: #0f1b2a;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 100;
  padding: 5px;
  margin: 0;
  list-style: none;

  display: flex;
  /* מציג את הפריטים לרוחב */
  flex-wrap: wrap;
  /* אם אין מקום הם עולים שורה */
  gap: 10px;
  /* רווח בין הפריטים */
  min-width: 1200px;
  /* רוחב מינימלי */
  max-width: 1000px;
  /* רוחב מקסימלי */
}

/* הופך את הרשימה לגלויה */
#languageMenu.languageMenuShow {
  visibility: visible;
}

/* סגנון הפריטים */
.language-item {
  flex: 1 1 calc(12.5% - 8px);
  /* 100% / 8 = 12.5% */
  margin: 4px;
  padding: 3px 6px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(135deg, #1e3c72, #38b2ac, #1e3c72);
  border-radius: 4px;
}

.language-item:hover {
  background: linear-gradient(135deg, #38b2ac, #1e3c72, #111);
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

@media (min-width: 1200px) {
  #languageMenu {
    min-width: 1000px;

  }
}

@media (max-width: 1200px) {
  #languageMenu {
    min-width: 450px;

  }
}

@media (max-width: 600px) {
  #languageMenu {
    min-width: 350px;

  }
}