html, body {
  height: auto;
  margin: 0;
}



body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #e0f2fe, #f1f5f9, #fef9c3);
  color: #fff;
}
.main {
  flex: 1;
  padding: 20px;
}


/*הרקע של מצב מוחשך*/
body.dark-mode {
  /*background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);*/
  background: #10121a;
}

body.dark-mode #results-container,
body.dark-mode #results,
body.dark-mode #details,
body.dark-mode #pagination,
body.dark-mode #status {
  background: #15161b;
  color: #e9eef6;
  box-shadow: none;
  /* אם יש תמונת רקע או inline background שקיים — אפשר לנטרל כך: */
  background-image: none;
}

body.dark-mode #titelActive {
  color: #d91212;
}





/*ניקוי במועדפים*/
.clear {
  padding: 8px 14px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  background: linear-gradient(135deg, #df1d07, #f38f83, #fdccc6);
  color: #fff;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 3px;
  width: 100%;
}


.clear:hover {
  background: linear-gradient(135deg, #fdccc6, #f38f83, #df1d07);
  transform: translateY(-1px) scale(0.96);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}