#pagination {
  text-align: center;
  margin-top: 1rem;
}

#pagination.hidden {
  display: none;
}

/* כפתורי קודם/הבא */
#prevBtn,
#nextBtn {
  background: linear-gradient(135deg, #df1d07, #f38f83, #fdccc6);
  color: white;
  border: none;
  padding: 0.6rem 1.4rem;
  border-radius: 12px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#prevBtn:hover,
#nextBtn:hover {
  background: linear-gradient(135deg, #fdccc6, #f38f83, #df1d07);
  /*background: linear-gradient(135deg, #ff6f61, #ff7f50);*/
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

/* כפתורי מספרים */
.numberBtn {
  background: linear-gradient(135deg, #54e5de, #3fd2d2, #f3b7b0);
  color: white;
  border: 2px solid transparent;
  padding: 0.45rem 1rem;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.numberBtn:hover {
  background: linear-gradient(135deg, #f3b7b0, #3fd2d2, #38b2ac);

  color: white;
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.numberBtn.active {
  background: linear-gradient(135deg, #3cc0b9, #209b9b);
  color: white;
  font-weight: 600;
  transform: scale(1.08);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}