/*החיפוש הראשי*/
input[type=search] {
  padding: .55rem .6rem;
  border-radius: 8px;
  border: 1px solid #d0d6e0
}

#searchBtn {
  padding: .55rem .8rem;
  border-radius: 8px;
  border: 0;
  background: #2563eb;
  color: white;
  cursor: pointer
}



.controls {
  display: flex;
  gap: .5rem;
  align-items: center;
  margin: 30px auto;

}

#searchInput {
  flex: 1;
}

@media (max-width: 600px) {
  input[type=search] {
    padding: 0.45rem 0.5rem;
    font-size: 0.9rem;
  }

  #searchBtn {
    padding: 0.45rem 0.6rem;
    font-size: 0.9rem;
  }

  .controls {
    flex-direction: column;
    gap: 0.4rem;
    align-items: stretch;
  }

  #searchInput {
    flex: unset;
    width: 100%;
  }


}




/*חיפוש מתקדם*/

/* שורת הסרטים/TV */
.main-categories {
  display: flex;
  gap: 20px;
  margin: 10px auto;
}

.main-categories label {
  position: relative;
  background: linear-gradient(135deg, #2a2e3e, #3c5cff);
  padding: 10px 25px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  /* אנימציה חלקה */
  overflow: hidden;
}

/* צבע רקע ברגע ריחוף */
.main-categories label:hover {
  background: linear-gradient(135deg, #3c5cff, #6e82ff);
  transform: scale(1.05);
}

/* הסתרת הרדיו עצמו */
.main-categories input[type="radio"] {
  display: none;
}

/* אנימציה של רקע כשנבחר */
.main-categories input[type="radio"]:checked+label {
  background: linear-gradient(135deg, #ff6ec7, #3c5cff, #6effd5);
  color: #fff;
  box-shadow: 0 0 15px rgba(58, 75, 255, 0.6);
  transform: scale(1.05);
}


#sidebarTitle {
  text-align: center;
  font-size: 18px;
  margin: 10px 0;
  color: #b0b5c3;
}


/* קטגוריות */
#advancedSearch {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.submenu-item input[type="checkbox"] {
  accent-color: #3a4bff;
  transform: scale(1.2);
}


#searchGenresBtn {
  width: 100%;
  background-color: #3a4bff;
  border: none;
  color: white;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
  margin-bottom: 5px;

}


#searchGenresBtn:hover {
  background-color: #5a6eff;
}



